* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Archia';
    src:  url('./fonts/Archia-Regular.otf') format('opentype');
}

:root {
    --orange: #F7563C;
    --darkBlue: #0000FF;
}

header {
    height: 100vh;
    overflow: hidden;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 100px;
    font-family: Archia;
    background-color: white;
    z-index: 1;
}

nav > a img {
    width: 200px;
    margin-right: 50px;
}

.menu-items ul {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style-type: none;
}

.menu-items ul li {
    cursor: pointer;
}

nav input {
    margin-left: auto;
}

.image-wrapper {
    position: relative;
}

header .image-wrapper img {
    position: relative;
    transform: translateY(-180px);
    width: 100%;
    z-index: -1;
}

.image-wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    color: var(--orange);
}

p {
    color: var(--darkBlue);
}

.logo-base {
    transform: scale(0);
    transform-origin: bottom center;
    animation: scale 1s ease forwards;
}

@keyframes scale {
    to {
        transform: scale(1);
    }
}

.logo-line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: 1.6s dash .6s cubic-bezier(.39,.71,.72,.05) forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.line {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: 3s dash .6s cubic-bezier(.3,.1,.7,0) forwards;
}